/*Universal Selectors****************/

body {
  background: url(../img/tennis.jpeg) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;
  color: #1a1a1a;
  font-family:  'lato', sans-serif;
}

h1 {
  font-family: 'strait', sans-serif;
  font-weight: bolder;
  text-align: center;
}

ul {
  font-size: 1.35em;
  font-weight: 400;
  padding: 25px 25px 0 0;
}

li {
  font-size: 1.15em;
  font-style: italic;
  padding-left: 30px;
  max-width: 600px;
}

p {
  font-size: 1.2em;
  padding: 25px 25px 25px 0;
}

/*Class Selectors********************/

.italics {
  font-style: italic;
}

.bold {
  font-weight: bolder;
}

/*Id Selectors***********************/

 #numberInput {
   max-width: 200px;
 }

#easy-tennis {
  max-width: 480px;
  max-height: 320px;
  float:right;
  -webkit-filter:grayscale(50%);
}

#result {
  display: none;
}

/*Media Queries**********************/

@media only screen and (max-width:1200px) {
  p {
    padding: 100px 25px 25px 0;
    max-width: 800px;
  }
}

@media only screen and (max-width:768px) {
  #easy-tennis{
    float: none;
  }
  p {
    padding: 25px 25px 25px 0;
  }
}

@media only screen and (max-width:400px) {
  #easy-tennis {
    max-width: 320px;
    max-height: 240px;
  }
  
  p {
    padding: 25px 25px 25px 0;
  }
}
