/*Universal Selectors****************/

body {
  background: url(../img/tennis.jpeg) no-repeat center center fixed;
  origin background-size: cover;
  background-size: cover;

/*Class Selectors********************/

.text-hue {
  color: grey;
}

/*Id Selectors***********************/



/*Media Queries**********************/
